<div ng-include="'components/navbar/navbar.html'"></div>

<div class='container'>
  <div class='col-lg-3 col-md-3 col-sm-3 hidden-xs'></div>
  <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
    <form ng-submit='findBars(city)'>
      <div class='form-group'>
        <input type=text placeholder='Search City' ng-model='city'>
        <button class='btn btn-default'>Find Bars</button>
      </div>
    </form>
    <div class='row searchResult' ng-repeat='bar in activeBars track by $index'>
      <button class='btn btn-info' ng-click='joinBar(bar, getCurrentUser, activeBars)' ng-show='checkGo(bar, getCurrentUser)'>Join the life</button>
      <button class='btn btn-danger' ng-click='leaveBar(bar, getCurrentUser)' ng-hide='checkGo(bar, getCurrentUser)'>Leave the life</button>
      <span class='barName'>{{bar.name}}</span>
      <span class='alignLeft'>{{bar.patrons.length}}</span>
    </div>
  </div>
  </div>
</div>